<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body ng-app="warshark">
		Sup
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>

		<map ng-controller="MapmakerCtrl as map">
			{{map.model.Rob}}

			<node 
				ng-repeat="node in map.model.nodes" 
				node-name="{{node.name}}" 
				update="map.updateNodeName(nodeName, nodePosition)" 
				node-index="{{$index}}"
			>
				{{node.name}}
			</node>
		</map>

		<script src="/js/dist/warshark.js"></script>
	</body>
</html>