<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/warshark.css' />
	</head>
	<body ng-app="warshark">
		
		<nav>
			<ul>
				<li>
					<a ui-sref=".home" class="btn btn-primary">Home!</a>
				</li>
				<li>
					<a ui-sref=".mapmaker" class="btn btn-primary">Map maker!</a>
				</li>
			</ul>
		</nav>

		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>

		<!-- where content is injected via warshark.js routing -->
		<div ui-view></div>
		
		<script src="//localhost:35729/livereload.js"></script>
		<script src="/js/dist/warshark.js"></script>
	</body>
</html>